<%= error_messages_for :story %>
<% if admin? %>
<% form_for([@section, @story]) do |f| %>

<!-- <%=h @story.section %> -->
  <table class="form" border="0" cellspacing="3" cellpadding="3">
    <tr><td colspan=2><h2><%= f.text_field :title %></h2>
      <div class="wmd-preview"></div>
      <div><%= f.text_area :body, :style => "width: 100%; height: 8.4em" %></div></td></tr>
    <tr><td><span class="by">By</span></td><td><span class="by"><%= f.text_field :author %></span></td></tr>
    <tr><td>Publish on</td><td><% if @view_mode == :edit %><%= date_field('story', 'publish_at', :value => @story.display_date_string ) %><% end %></td></tr>
    <!-- <tr><td><%# f.label :section %></td><td><%# f.text_field :section %></td></tr> -->
    <tr><td><%= f.label :intro %></td><td><%= f.text_area :intro, :style => "height: 2.4em;"%></td></tr>
    <tr><td><%= f.label :extract %></td><td><%= f.text_area :extract, :style => "height: 5.9em;" %></td></tr>
    <tr><td>Breaking News?</td><td><%= f.check_box :is_breaking %></td></tr>
  </table>
  
  <p>
    <%= f.submit "Update" %> &nbsp; 
    <!-- bad form ... TODO: refactor this later, moving if/then logic outside of the view (a presenter, maybe?) -->
    <% if @view_mode == :edit %>
      <%= link_to 'Show', [@section, @story] %> &nbsp; 
    <% end %>
    <!-- /end bad form -->
      <%= link_to 'Back', section_stories_path(@section) %>
  </p>
<% end %>
<% end %>