<!-- TODO: change from @story to story... don't remember why i did that... working around some bug??? -->
<% for story in @stories %>
  <!-- excerpt.html.erb -->
  <h2><%= story.title %></h2>
  <%= render :partial => 'date_box',
    :locals => { :story => story }%>
  <%= markdown(story.extract) %>
    <%= link_to '<span class="more">... more &rarr;</span>', [@section, story] %>
  <% if admin? %>
    <%= link_to 'Edit', [:edit, @section, story] %>
    <%= link_to 'Destroy', [@section, story], :confirm => 'Are you sure?', :method => :delete %>
  <% end %>  
  </p>
<% end %>
