<% content_for :title do %>
  <%=h @story.title %>
<% end %>
<!-- story.html.erb   -->
<!-- <%=h @story.section %> -->
<h2><%=h @story.title %></h2>
<%= render :partial => 'date_box' %>

<%= markdown(@story.body) %>
<div class="by">By <%=h @story.author %></div>

<!-- <%= link_to 'Edit', edit_story_path(@story) %> <%= link_to 'Back', stories_path %> -->
<!-- /story.html.erb   -->