<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"><html>
    <head>
      <title>Milan Community</title>

          
    <%= stylesheet_link_tag 'reset' %>
    <%= stylesheet_link_tag '/themes/clean/stylesheets/clean' %>
    <%= stylesheet_link_tag '/themes/clean/stylesheets/rapid-ui' %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'rapid' %>

    <!-- TODO replace script tags with rails script tags -->
      <script src="/javascripts/prototype.js" type="text/javascript"></script>
      <script src="/javascripts/effects.js" type="text/javascript"></script>
      <script src="/javascripts/dragdrop.js" type="text/javascript"></script>
      <script src="/javascripts/controls.js" type="text/javascript"></script>
      <script src="/javascripts/lowpro.js" type="text/javascript"></script>
      <script src="/javascripts/hobo-rapid.js" type="text/javascript"></script>
      <script src="/javascripts/application.js" type="text/javascript"></script>
        <script type="text/javascript">var hoboParts = {};var pluralisations = {}; urlBase = ''; hoboPagePath = 'front/index'</script>
    </head>
    <body class="aside-layout front-page" onload="Hobo.applyEvents();">
  <div id="ajax-progress">
    <div>
      <span id="ajax-progress-text"></span>
    </div>
  </div>
  <div class="header page-header">
   <h1><a href="/">Milan Community</a></h1>
  <div class="search">
    <label for="search-field">Search</label><input class="search-bhv search" id="search-field" name="search-field" type="search" />
  <img class="hidden" id="search-spinner" src="/themes/clean/images/spinner.gif" />
  </div>
  <div class="section hidden" id="search-results-panel">
    <h2>Search Results</h2>
  <div class="section" id="search-results">&nbsp;</div>
  </div>
  
  <div class="nav">
    <ul class="account-nav">
      <li class='nav-item'><a href="http://beta.hobocentral.net/login">Log in</a></li>
      <li class="nav-item"><a href="http://beta.hobocentral.net/signup">Sign up</a></li>
    </ul>
    <ul class="navigation main-nav">
      <li class="">
        <a href="/">Community News</a>
      </li>
      <li class="">
        <a class="class-link" href="/sports">Sports</a>
      </li>
      <li class="">
        <a class="class-link" href="/business">Business</a>
      </li>
      <li class="">
        <a class="class-link" href="/opinion">Opinion</a>
      </li>
    </ul>
  </div>
</div>
  <div class="section page-content">
  <div class="section main-content">
  <div class="header content-header">
    <h1 class="front-page-title"><!-- Welcome to HoboCentral.net --></h1>
  </div>
  <div class="section content-body">
    <%= yield %>
  </div>
      </div>
  <div class="aside aside-content">
      <p>This site has been created as an open-source example of creating an app using the Hobo framework. It's at a very early stage at the moment, and, as you have probably noticed, there's not a lot of data!</p>
      <p>The source code to this app is available <a href="http://dev.hobocentral.net/trac/browser/trunk/hobocentral">here</a></p>
    </div>
    </div>
    </body>
</html>